.expense_item_strip {
    background-color: #8E84A3;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    margin: 5px;
}

.expense_item_date {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: #140F1E;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.expense_item_title {
    flex-grow: 1;
    font-size: 20px;
    color: white;
    padding: 10px;
}

.expense_item_amount {
    width: 80px;
    border: 2px solid white;
    padding: 10px;
    background-color: #9400d3;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}

.expense_item_date_day {
    font-weight: bold;
    font-size: 20px;
}