body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #140F1E;
  font-size: 12px;
}

.box1 {
  background-color: bisque;
  width: 300px;
  height: 300px;
}

.card {
  width: 400px;
  height: 400px;
  background-color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: #140F1E;

}

.card_red { background-color: red}
.card_green { background-color: green}


.box {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}